<% provide(:title, 'FAQs') %>

<%= render 'shared/sub_nav' %>
<div class="faqs">
  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">

      <h1>Frequently Asked Questions</h1>
      <p>Years ago, we realized that many of our client families were struggling during the holiday season. To address this need, we launched our Adopt-A-Family program, inviting community members and local companies to “adopt” one or more families and purchase gifts for them for the holidays.</p>
      <div class="faq-group">
        <h2><span>Q</span> What is the Adopt-A-Family program?</h2>

        <p><span>A</span> All families served by the Adopt-A-Family program are clients of Brighter Beginnings through its home-based support programs and family strengthening centers. Through the 'adoption' process, low-income families are matches with a donor who purchases  gifts for the family, wraps them and drops them off at one of the Brighter Beginnings Centers in Oakland, Richmond or Antioch. This is a great way to do something that is really appreciated and needed by the families we serve. Who are the families?</p>

        <p>All of the families are clients for Brighter Beginnings.  Many of the families involved are struggling economically and require some assistance to provide special gifts and food for the holiday season.</p>

        <h2><span>Q</span>How does the program work?</h2>

        <p><span>A</span>Individuals or groups desiring to adopt a family can browse the profiles of families in need. Each profile includes a brief description of the individuals being adopted, along with the first names and ages of each person. The family members each fill out a "Wish List". Occasionally children (and some parents) get carried away and ask for expensive items. Please don't be offended by this. Donors are NOT obligated to buy everything on the list. Once the families have received their gifts thank you cards are written and forwarded to the donors.</p>

        <h2><span>Q</span>What is the cost involved?</h2>

        <p><span>A</span>It is difficult to put an exact cost on adopting a family. It can vary greatly by family size, needs and donor resources. We do ask that your purchase only new gifts and that at least two gifts be given to each family member. We encourage donors to consider providing for some food for the family, such as a gift card to a local grocery store.</p> 

        <h2><span>Q</span>How should I package the gifts?</h2>

        <p><span>A</span>Place all items in sturdy boxes with lids and tape securely to close. Maximum weight for boxes is 30 lbs. Boldly write the Family Code Number (found on the Family Profile) on all 4 sides and the top of each box. Mark each box to indicate the total number of boxes included (i.e; 1 of 3, 2 of 3 etc.) </p>

        <h2><span>Q</span>Where should I drop off the gifts?</h2>
        <p><span>A</span> Gifts are dropped off at our office locations. You will pick your specific drop off date, from a list of two possible dates, during the adoption process.</p>

        <p>Gifts must be dropped off at the location associated with the family; i.e. if a family from our Richmond program is adopted, the gifts must be dropped off at our Richmond office.</p>

        <p>Delivery locations, directions and drop-off dates are available on our website.</p>

        <p>When you bring your gifts, please also bring the in-kind donor receipt form (which you can <%= link_to 'download form here', download_pdf_path(:file => 'Donation_receipt_AAF_2014.pdf') %>), filled out, to the drop-off site.</p>

        <h2><span>Q</span>How does the family receive the gifts?</h2> 

        <p><span>A</span>Our staff will deliver the gifts to the families in time for Christmas. Keeping to your scheduled drop-off date is very important, as it allows our staff the time to ensure that all gifts reach all families on time.</p>

        <h2 id="in-kind"><span>Q</span>Can I receive a tax receipt for the purchases I make?</h2> 

        <p><span>A</span>Absolutely. <%= link_to 'Download your in-kind donation tax receipt form here', download_pdf_path(:file => 'Donation_receipt_AAF_2014.pdf') %> and bring it with you for us to sign when you drop off your gifts.</p>

        <p>For more information about Brighter Beginnings please go to <%= link_to 'www.brighter-beginnings.org/', 'http://www.brighter-beginnings.org' %></p>

        <p>For general inquiries please contact us at (877) 427-7134</p>
      </div>
      </div>

    </div>
  </div>