<div class="home-title">
  <% if @drive.status == true %>
    <h1>Welcome to the <%= @drive.year %> Brighter Beginnings<br> Adopt-A-Family Gift Giving Program</h1>
    <%= render "modal" %>
  <% else %>

    <%= render "drives/closed" %>
  <% end %>


</div>

  
