<div class="closed">
<%= render "layouts/errors" %>
  
  <div class="col-xs-1"></div>
  
  <div class="clearfix"></div>

  <div class="closed-wrapper">
    <h1>Welcome to the <%= @drive.year %> <br>Brighter Beginnings Adopt-a-Family<br>Holiday Gift Giving Program <span><%= @countdown %></span>

      <% if @countdown == 1 %> 
      Day
      <% else %> 
      Days
      <% end %> 
      until the Brighter Beginnings<br> Adopt-a-Family Giftdrive opens!
    </h1>
  </div>


</div>

