<div class="closed">
<%= render "layouts/errors" %>
  
  <div class="col-xs-1"></div>
  
  <div class="clearfix"></div>

  <div class="closed-wrapper">
    <h1>Due to an overwhelming response, <br>Adopt-a-Family 2014 is now closed. To find out other ways to support us this holiday season please contact us at <br>adopt-a-family@brighter-beginnings.org</span>
    </h1>
  </div>
</div>

