<h2>Families Available for Adoption</h2>
<%= link_to "Export",  families_path(format: "xls") %>
<% @families.each do |f| %>

<ul>

<li><%= f.code %></li>
<li><%= link_to "Adopt this Family!", new_donor_path(@donor) %></li>
<li>
<% f.family_members.each do |fm| %>
<ul>
<li><%= fm.bio %></li>
</ul>
<% end %>
</li>

</ul>
<% end %>


