<%= render "layouts/errors" %>

<%= render 'shared/sub_nav' %>
<div class="inner-container">
<%= render 'family_pages' %>
  <div class="families-container fams-5">
    <%= render partial: "fams_by_size", locals: { families: @fams_five_or_more } %>
  </div>
</div>