<%= render 'shared/sub_nav' %>

<div class="inner-container">
  <div class="filtering-deets">
    <h2>Families by Size</h2>
    <%= render "filter_by_size_buttons" %>
  </div>

  <div class="clearfix"></div>

  <div class="families-container">

    <div class="fams allfams">
      <%= render partial: "fams_by_size", locals: { families: @families } %>
    </div>

  </div>
</div>
