<footer>
<ul class="container-fluid">
  <div class="col-xs-4"></div>
  <li><%= link_to 'Shopping Tips', shopping_tips_path %></li>
  <li><%= link_to 'Frequently Asked Questions', faq_path %></a></li>
</ul>
</footer>