<footer>
  <ul class="container-fluid">
    <% if user_signed_in? %>
      <li><%= nav_link "My Account", user_path(current_user) %></li>
    <% end %>
    <li><p><%= nav_link 'Shopping Tips', shopping_tips_path %></p></li>
    <li><p><%= nav_link 'FAQs', faq_path %></p></li>
  </ul>
</footer>


