<%= render 'shared/sub_nav' %>
<div class="confirming-adoption col-lg-12">
  
  <% if current_user.adoptions.length > 0 %>

  <h3>Welcome Back!</h3>
    <p>To complete the adoption process, please check that all your contact information below is correct and click the Adopt button to finalize the process.</p>

  <% else %>

    <h3>Congratulations!</h3>
    <p>To complete the adoption process, please provide us with your contact information below.</p>

  <% end %>

  <p>Please remember that at any time you can visit your <%= link_to 'ACCOUNT PAGE', user_path(current_user) %> to review the families you have adopted and to update any of your contact information.</p>

  <%= render 'form' %>
</div>


