<h2>Manage All Family Members</h2>
<h4>Total Families: <%= @total_fams %></h4>

<div class="manage-all">

<%= render 'adoption_data' %>
<%= render 'donor_data' %>




</div>

<style>
  #manage-all {
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  width: 1200px;
  #manage_table_filter {
    float: right;
    margin-bottom: 20px;
  }

}

// Fix Firefox bug in Data Tables search field display
table.dataTable {
  clear: both;
}

</style>
