<h2>Manage All Families</h2>
<h4>Total Families: <%= @total_fams %></h4>
<ul>
<li>
  <% @families.each do |fam| %>
  <li><%= fam.code %> <%= check_box_tag 'is_live', fam.id , fam.is_live, :class => "makeFamilyLiveCheckbox" %></li>
  <ul>
  <% fam.family_members.each do |fm| %>
  <li><%= fm.id %></li>
<% end %>
</ul>
</li>
<% end %>
</ul>