@import 'variables';

.super-admin {
  margin-top: 30px;
  h1 {
    text-align: center;
    margin-bottom: 0;
  }
}
.super-dash {
  background-color: #eeeeee;
  margin-bottom: 40px;
  border-radius: 5px; 
  padding-top: 20px;
  .btn {
    padding-top: 9px;
  }
}

.resets {
  padding: 0;
  margin-bottom: 0;
  li {
    display: inline;
  }
  .btn {
    margin-right: 10px;
  }
}

.fams-to-go-live {
  padding-bottom: 100px;
  .btn {
    height: 22px;
    padding: 0 5px;
  }
}

.drive-manage, .add-admins {
  display: inline-block;
  padding: 20px;
  padding-top: 0;
}

.add-admins {
  float: right;
  .additions {
    float: left;
  }
  .current-admins {
    float: right;
  }
  ul {
    padding: 0;
    margin: 0;
    height: 20px;
  }
  li {
    display: inline-block;
  }
  form {
    display: block;
  }
}



/*DATA TABLES*/

.manage-all {
  padding: 30px 0 100px 0;
  .top-holder {
    position: relative;
    background-color: $lightGray;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    .admin-subnav {
      padding: 10px 0 0 0;
    }
  }
  h1 {
    text-align: center;
    margin-bottom: 0;
  }
  .manage-table {
    display: none;
  }
  .countdown {
    text-align: center;
    position: absolute;
    top: 20px;
    span {
      color: #27ae60;
      font-size: 46px;
      line-height: 56px;
    }
  }
  .fam-countdown {
    left: 20px;
  }
  .adoption-countdown {
    right: 20px;
  }
  .btn {
    height: 22px;
    padding: 0 5px;
  }
}
/*Fix Firefox bug in Data Tables search field display*/
table.dataTable {
  clear: both;
}