@import 'variables';

.closed-drive {
  text-align: center;
  height: 60px;
  width: 100%;
  margin-top: 100px;
}

.until-open {
  text-align: center;
  width: 705px;
  height: 500px;
  margin: 0 auto;
  h2 {
    font-size: 100px;
    line-height: 150px;
    color: $green;
  }
  p {
    font-size: 50px;
    line-height: 70px;
  }
}