@import 'variables';

.closed {
  text-align: center;
  background: image_url('large-snowy-background.jpg') no-repeat;
  min-height: 800px;
  background-position: 0 -20px;
}

.closed-wrapper {
  text-align: center;
  height: 100%;
  background-color: rgba(255,255,255,.6);
  padding: 40px;
  color: $green;
  width: 900px;
  margin: 0 auto;
  margin-top: 60px;
  line-height: 30px;
  border-radius: 5px;

  h1 {
    line-height: 70px;
  }

  span {
    font-size: 100px;
    padding: 25px;
    display: block;
  }

  h2 {
    font-size: 100px;
    color: #8EACD1;
  }
}
