@import 'variables';

.red-link {
  color: $red;
}

.green-link {
  color: $green;
}

.no-fams {
  background-color: $lightGray;
  padding: 20px;
  width: 60%;
  margin: 0 auto;
  text-align: center;
  margin-top: 60px;
  border-radius: 5px;

  h1 {
    margin-bottom: 5px;
  }
}

.filtering-deets {
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;

  a {
    padding: 5px 5px 0 5px;
  }
}

.families-container {
  box-sizing: border-box;
  margin: 0 auto;
  width: 90%;
  padding: 30px 0 50px 0;

  .inner-container {
    padding-top: 0 !important;
  }
  h2 {
    text-align: center;
  }
  h1 {
    color: $blue;
  }
}

.adoptable-family-on-index {
  box-sizing: border-box;
  position: relative;
  border: 1px solid $borderGray;
  background-color: $lightGray;
  border-radius: 3px;
  padding: 20px;
  margin: 10px;
  width: 23.4%;
  height: auto;
  float: left;

  h1 {
    margin-bottom: 20px;

    a {
      color: $green;
      text-decoration: none;
    }
  }

  h2 {
    text-transform: none;
    text-align: left;
  }

  .btn {
    padding: 10px;
    margin: 0 20px 0 0;
  }
} 

.adoptable-family {
  margin: 0 auto;
  border: 1px solid $borderGray;
  padding: 20px;
  background-color: $lightGray;
  margin: 30px 0 100px 0;

  h1 {
    margin-bottom: 0;
  }

  h2 {
    color: $blue;
  }

  .need-title {
    color: $green;
    text-transform: uppercase;
  }

  ul {
    padding: 0;
  }

  .family-buttons {
    width: 100%;
    height: 100px;
    position: relative;
  }

  .btn {
    padding-top: 9px;
  }

  .btn-success {
    position: absolute;
    bottom: 20px;
    right: 0;
  }

  .btn-info {
    position: absolute;
    bottom: 20px;
    left: 20px;
  }
  
  .needs li {
    background-color: $green;
    color: $white;
    display: inline-block;
    padding: 10px;
    border-radius: 2px;
    margin-bottom: 20px;

    p {
      margin: 0;
    }
  }

  .sizes {
    background-color: $white;
    border: 1px solid $borderGray;

    li {
      display: inline-block;
      padding: 10px;
      height: 45px;
    }
  }

  .family-member {
    padding: 20px;
  }  

  .super-back-btn {
    display: block;
    height: 100px;
  }
}

.buttons {
  padding-top: 10px;
}

#family-size-filter-buttons {
  width: 50%;
  min-height: 25px;
  margin-top: 25px;
  margin: 0 auto;

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    display: inline;
    padding: 0 10px;
  }

  label {
    font-size: 1em;
  }

  .btn {
    padding: 5px;
    height: 30px;
  }

  .active {
    background-color: $green;
    color: $white !important;
    border: 1px solid $green;
  }
}

.adoption-thank-you {
  text-align: center;
  width: 100%;
  font-weight: bold;
}

.confirming-adoption {
  padding-left: 20px;
  padding-bottom: 80px;
}

#cancel-adoption-process {
  margin-left: 15px;
}

.fams-8 .adoptable-family-on-index {
  min-height: 600px;
}

.fams-7 .adoptable-family-on-index {
  min-height: 520px;
}

.fams-6 .adoptable-family-on-index {
  min-height: 460px;
}

.fams-5 .adoptable-family-on-index {
  min-height: 420px;
}

.fams-4 .adoptable-family-on-index {
  min-height: 380px;
}

.fams-3 .adoptable-family-on-index {
  min-height: 340px;
}

.fams-2 .adoptable-family-on-index {
  min-height: 280px;
}


