@import 'variables';

.no-fams {
  margin-top: 40px;
}

.filtering-deets {
  margin: 0 auto;
  text-align: center;
}

.families-container {
  padding-left: 5%;
  box-sizing: border-box;
  margin: 0 auto;
  .inner-container {
    padding-top: 0 !important;
  }
  h2 {
    text-align: center;
  }
  h1 {
    color: $blue;
  }
}

.adoptable-families {
  position: relative;
  border: 1px solid $borderGray;
  background-color: $lightGray;
  border-radius: 3px;
  padding: 20px;
  margin: 15px;
  width: 45%;
  .fam-members {
    width: 50%;
    padding-left: 0;
    float: left;
    margin-bottom: 20px;
  }
  h2 {
    text-align: left;
  }
  .buttons {
    position: relative;
    height: 60px;
    width: 100%;
  }
  
  .btn {
    position: absolute;
    bottom: 20px;
    width: auto;
    padding: 10px;
  }
  
  .btn-success {
    right: 0;
  }
  .btn-info {
    right: 90px;
  } 
} 

.adoptable-family {
  margin: 0 auto;
  border: 1px solid $borderGray;
  padding: 20px;
  background-color: $lightGray;
  margin-bottom: 50px;
  ul {
    padding: 0;
  }
  .family-copy {
    width: 100%;
    height: 100px;
  }
  .btn-info {
    position: absolute;
    bottom: 20px;
    left: 20px;
    padding: 10px;
  } 
  .btn-danger {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    width: 200px;
  }
  .needs li {
    background-color: #27ae60;
    color: $white;
    display: inline-block;
    padding: 10px;
    border-radius: 2px;
    margin-bottom: 20px;
    height: 45px;
  }
  .sizes {
    background-color: $white;
    border: 1px solid $borderGray;;
    li {
      display: inline-block;
      padding: 10px;
    }
  }
  .family-member {
    padding: 20px;
    margin: 20px 0;
  }  

}

#family-size-filter-buttons {
  width: 50%;
  min-height: 25px;
  margin-top: 25px;
  margin: 0 auto;
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    display: inline;
    padding: 0 20px;
  }
  label {
    font-size: 1em;
  }
}

.fams {
  display: none;

}

.fams5 .adoptable-families {
  min-height: 700px;
}

.fams4 .adoptable-families {
  min-height: 450px;
}

.fams3 .adoptable-families {
  min-height: 300px;
}

.fams2 .adoptable-families {
  min-height: 320px;
}

.fams1 .adoptable-families {
  min-height: 200px;
}
