.families-container {
      background-image: image-url("snowflake-strip.png");

  padding-left: 5%;
  box-sizing: border-box;
  margin: 0 auto;
  height: 400px;
  .adoptable-families {
    position: relative;
    border: 1px solid #dedede;
    border-radius: 10px;
    height: 300px;
    padding: 20px;
    margin: 15px;
    width: 45%;
    background-color: #ffffff;
    .fam-members {
      width: 50%;
      padding-left: 0;
      float: left;
      margin-bottom: 20px;
    }
  } 
}

