/*FORM STYLES*/
@import 'variables';

.form-page {
  padding: 30px 30px 0 30px;
  text-align: left;
  .family-submit {
    margin-bottom: 100px;
  }
  height: auto;
  .super-back-btn {

    width: 100%;
    .btn {
      float: right;
      padding-top: 9px;
    }
  }
}

.form-item {
  margin: 0 15px;
}

.make-mem-header {
  margin-top: 20px;
}

.add-fam-btn {
  margin-bottom: 15px;
}

.remove-link {
  font-size: 15px;
  font-weight: normal;
  text-transform: none;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0;
}

#cancel-adoption-process {
  padding-top: 10px;
}

.top-holder {
  height: 120px;
  margin-bottom: 20px;

  h1 {
    text-align: center;
  }

  .admin-subnav {
    position: absolute;
    top: 80px;
    right: 39%;
  }
}

.needs-row a {
  color: $linkBlue !important;
}
