/*FORM STYLES*/
.form-page {
  padding: 20px;
  h2 {
    text-align: center;
    padding-top: 20px;
    margin-bottom: 0;
  }
  .float-right {
    padding-left: 0;
    margin-left: 0;
    display: inline;
  }
}
.org-form {
  margin-top: 40px;
}
.org-submit-button {
  margin-top: 24px;
  width: 350px;
}