/*green: #27ae60;
$blue: #5BC0DE;
$blue-hover: #004EBC;*/
/*red: #C9302C*/

/*BASE STYLES*/
body {
  .site-container {
    margin-top: 70px;
  }
  .inner-container {
    padding-top: 10px;
  }
}

.alert {
  display: none;
}

h1 {
  font-family: 'Alegreya', serif;
  font-weight: 500;
  line-height: 46px;
  font-size: 46px;
  margin: 0 0 43px 0;
}
h2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: normal;
  font-size: 21px;
  line-height: 23px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 0 23px 0;
}
p {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 23px;
  margin: 0 0 23px 0;
}

/*h1 {
  font-family: 'Dancing Script', cursive;
  font-weight: 700;
  line-height: 46px;
  font-size: 42px;
  margin: 0 0 23px 0;
}
h2 {
  font-family: 'EB Garamond', serif;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 2px;
  margin: 0 0 23px 0;
}
p {
  font-family: 'EB Garamond', serif;
  font-size: 16px;
  line-height: 23px;
  margin: 0 0 23px 0;
  }*/

  li {
    list-style: none;
  }

  /*HOME STYLES*/

  .present {
    i {
      color: #27ae60;
      font-size: 40px;
      margin: 20px 0 20px 0; 
    }
  }

  .home-top-row {
    margin-top: 0;
    .home-title {
      width: 100%;
      min-height: 190px;
      background-image: image-url("snowy-background.jpg");
      text-align: center;
      h1 {
        color: #ffffff;
        padding-top: 50px;
      }
    }
  }

  .drive-details {
    padding: 10px 0 50px 0;
  }

  .drive-description {
    text-align: center;
  }

  .see-families {
    text-align: center;
    a {
      width: 40%;
    }
  }

  .locations {
    text-align: center;
    padding: 20px 40px 40px 20px;
    ul {
      display: inline-block;
    }
    li {
      margin-bottom: 5px;
    }
    p {
      margin-bottom: 0;
      padding-left: 5px;
    }
    h2 {
      padding-left: 5px;
    }
    .map {
      margin-top: 30px;
    }
  }

  .contact {
    p {
      margin-bottom: 0;
    }
    .present {
      i {
        color: #E87445;
        font-size: 50px;
        margin-left: 140px;
      }
    }
  }

  .about-bb {
    background-color: #eeeeee;
    padding: 40px 0;
  }

  /*DROP LOC MODAL*/
  .modal.fade.in {
    top: 8%;
  } 
  .drop-locations-modal {
    text-align: left;
    li {
      list-style: none;
    }
    .in {
      top: 5% !important;
    }
  }

  .modal-body {
    .locations {
      padding: 20px 0;
      ul {
        margin-bottom: 40px;
        width: 100%;
        padding: 0;
        .list {
          float: right;
          text-align: left;
          padding: 0;
          width: 30%;
        }
      }
    }

    ul.map-list {
      width: 60%;
      display: inline-block;
      margin-top: -20px;
    }
  }
  .modal-footer {
    border: none;
  }

  /*IMPORTS*/
  #import_errors {
    width: 400px;
    border: 2px solid #CF0000;
    padding: 0;
    padding-bottom: 0;
    margin-top: 40px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
    font-size: 12px;

    h2 {
      text-align: left;
      font-weight: bold;
      padding: 5px 10px;
      font-size: 12px;
      margin-bottom: 10px;
    }

  }

  #import_headers {
    padding-left: 25px;
  }

  #import_field {
    text-align: center;
    margin-bottom: 50px;
  }

  #import_file {
    line-height: 30px;
  }

  #import_blue_link {
    background-color: #47a9f8;
    color: white;
    width: 100px; 
    padding: 6px;
    border-radius: 2px;
    border: 0;
  }

  /*PROFILE*/

  .profile-container {
    /*width: 1130px;*/
    margin: 0 auto;
    margin-top: 30px;

    ul {
      width: 100%;
      float: left;
    }
  }

  /*FAQS*/

  .faqs {
    padding-top: 30px;
    .faq-group {
      margin-left: 30px;
    }
    p, h2 {
      position: relative;
      display: block;
      padding-left: 30px;
      span {
        position: absolute;
        left: 0;
        font-size: 21px;
      }
    }
  }

  /*SHOPPING TIPS*/

  .shopping-tips {
    padding-top: 30px;
    .tip-group {
     margin-left: 30px;
     li {

     }
     p {
      display: inline-block;
    }
    i {
      display: inline-block;
      font-size: 20px;
      margin-right: 20px;
      background-color: #D9534F;
      border-radius: 20px;
      padding: 10px;
      color: #ffffff;
    }
    .note {
      text-align: center;
    }
  }
}

/*FORMS*/

.form {
  .left {
    float: left;
    width: 50%;
  }
  .right {
    float: right;
  }
}

.modal {
  ul {
    width: 60%;
    float: left;
  }
  .map {
    float: right;
  }
}



/*FAMILY UPLOADER*/

.family-uploader {
  padding-top: 30px;
  #import-headers {
    margin-bottom: 40px;
    li {
      list-style-type: disc;
      p {
        margin: 0;
      }
    }
  }
  #import_file, #import_field_link {
    display: inline-block;
  }
}
