/* Portrait tablet to landscape and desktop */
@media (min-width: 767px) and (max-width: 959px) { 
  body { 
    
    margin: 0;
    .container {
      width: 100% !important;
    }
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
  body { 
    width: 100% !important;
    .tablet-hide {
      display: none !important;
    }
    margin: 0;
    .container {
      width: 100% !important;
    }

  }
  .adoptable-families {
    width: 90% !important;
  }
  .locations {
    text-align: left !important;
    /*padding-left: 35px !important;*/
    img {
      margin-bottom: 40px;
    }
  }
  .contact {
    margin-left: 65px !important;
  }
  .manage-all {
    .countdown {
      display: none !important;
    }
  }
}

/* Landscape phones and down */
@media (max-width: 480px) { 
  body { 
    width: 100%;
    margin: 0;
    .form-holder {
      padding-left: 0 !important;
    }
    .container {
      width: 100% !important;
      margin: 0 auto !important;
    }
    .home-title h1 {
      padding-bottom: 20px;
    }
  }
  .adoptable-families {
    width: 90% !important;
  }
  .tip-group {
    margin-left: 0 !important;
    ul {
      padding-left: 10px !important;
    }
  }
  .contact {
    margin-left: 35px !important;
  }

}