/* Portrait tablet to landscape and desktop */
@media (min-width: 767px) and (max-width: 959px) { 
  body { 
    font-size:120%;
    margin: 0;
    .container {
      width: 100% !important;
    }
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
  body { 
    font-size:110%;
    margin: 0;
    .container {
      width: 100% !important;
    }
  }
}

/* Landscape phones and down */
@media (max-width: 480px) { 
  body { 
    font-size:100%;
    margin: 0;
    .container {
      width: 100% !important;
      margin: 0 auto !important;
    }
    .home-title h1 {
      padding-bottom: 20px;
    }
  }
}