@import 'variables';

.modal.fade.in {
  top: 2%;
} 
.drop-locations-modal {
  text-align: left;
  li {
    list-style: none;
  }
}

.modal-body {
  .locations {
    padding: 20px 0;
    ul {
      margin-bottom: 40px;
      width: 100%;
      padding: 0;
      .list {
        float: right;
        text-align: left;
        padding: 0;
        width: 30%;
      }
    }
  }

  ul.map-list {
    width: 60%;
    display: inline-block;
    margin-top: -20px;
  }
}

.modal {
  ul {
    width: 60%;
    float: left;
  }
  .map {
    float: right;
  }
}

.modal-footer {
  border: none;
}