.navbar-brand img {
  width: 200px;
  margin-top: -7px;
}

.nav {
  margin-bottom: 0 !important;
}

.btn-primary {
  color: #ffffff !important;
  background-color: #27ae60;
  height: 40px;
  &:hover {
    opacity: .8 !important;
  }
}
