@import 'variables';

.navbar-brand img {
  width: 300px;
  margin-top: -6px;
}

.navbar {
  margin-bottom: 0 !important;
  height: 70px;
  background-color: $white;
}

.navbar-nav > li {
  margin-top: 10px;
  float: left;
  a {
    padding-top: 9px;
  }
}

.btn-success {
  &:hover {
    background-color: #4cae4c !important;
  }
}

.btn-info {
  &:hover {
    background-color: #357ebd !important;
  }
}

.manage-nav {
  margin: 0 auto;
  max-width: 565px;
  h2 {
    text-align: center;
  } 
}

.subnav {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 30px 0 20px 0;
  h1 {
    position: relative;
    width: 300px;
    margin: 0 auto;
  }
  h2 {
    margin-bottom: 10px;
  }
  .subnav-link {
    color: $green;
    margin: 0 40px;
  }
  .present i {
    color: $green;
    font-size: 26px;
    margin: 0 0 10px 0;
  }

  .star i {
    color: $star;
    position: absolute;
    top: -10;
    z-index: -5;
    left: 100px;
  }
}

.admin-subnav {
  margin: 0 auto;
  text-align: center;
  padding: 10px 0 40px 0;
  .subnav-link {
    color: $blue;
    margin: 0 20px;
  }
}

footer {
  background-color: #FFFAFA;
  border-top: 1px solid #e7e7e7;
  width: 100%;
  height: 60px;
  position: fixed;
  bottom: 0;
  left: 0;
  .footer-container {
    margin: 0 auto;
    width: 1170px;
    margin-right: 20px;
    margin-bottom: 0;
  }
  li {
    float: right;
    margin-left: 50px;
    margin-top: 20px;
    a {
      color: #777777;
    }
  }
}