.navbar-brand img {
  width: 300px;
  margin-top: -6px;
}

.navbar {
  margin-bottom: 0 !important;
  height: 70px;
  background-color: #ffffff;
}

.navbar-nav > li {
  margin-top: 10px;
  float: left;
  a {
    padding-top: 9px;
  }
}


.manage-nav {
  margin: 0 auto;
  max-width: 565px;
  h2 {
    text-align: center;
  } 
}

.subnav {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0;
  h1 {
    margin-bottom: 10px;
  }
  h2 {
    margin-bottom: 10px;
  }
  .home-link {
    color: #27ae60;
  }
  i {
    color: #27ae60;
    font-size: 26px;
    margin: 0 0 10px 0;
  }
}

.btn {
  color: #ffffff !important;
  height: 40px;
  margin-right: 20px;
  padding-top: 5px;
  margin-top: 5px;
}

.btn-primary {
  background-color: #27ae60 !important;
  &:hover {
    background-color: #27ae60 !important;
    opacity: .8;
  }
  .dropdown-toggle btn:hover {
    background-color: #27ae60 !important;
  }
}

.btn-danger {
  background-color: #E44D12 !important;
  &:hover {
    background-color: #E44D12 !important;
    opacity: .8;
  }
}

footer {
  background-color: #FFFAFA;
  border-top: 1px solid #e7e7e7;
  width: 100%;
  height: 60px;
  position: fixed;
  bottom: 0;
  left: 0;
  .footer-container {
    margin: 0 auto;
    width: 1170px;
    margin-right: 20px;
    margin-bottom: 0;
  }
  li {
    float: right;
    margin-left: 50px;
    margin-top: 20px;
    a {
      color: #777777;
    }
  }
}