@import 'variables';

.profile-container {
  margin: 0 auto;
  margin-top: 30px;

  .column {
    background-color: $lightGray;
    min-height: 300px;
    padding: 20px;
    margin: 20px 15px 20px 0;
    border-radius: 5px;
    width: 32%;
  }
  ul {
    width: 100%;
    float: left;
    padding: 0;
  }

  ul > ul {
    padding: 0;
  }

  p {
    margin-bottom: 50px;
  }

  ul p {
    margin-bottom: 5px;
  }

  .btn-info {
    padding: 10px;
    margin-top: 20px;
  }
}

.drop-loc-button {
  padding-top: 10px;
}

.let-user-edit {
  padding: 10px 0 10px 0;
}