.register {
  background: image_url('large-snowy-background.jpg') no-repeat;
  height: 800px !important;
  background-position: 0 -30px;
  width: 100%;
  position: fixed;
  top: 50px;
  .form-holder {
    padding-top: 80px;
  }

  .notice {
    margin-top: 20px;
  }

  .alert {
    margin-top: 20px;
  }
}