
.flake {
  position: absolute;
  z-index: 111;
  top: -100px;
}

#flake1 {
  left: 100px;
}

#flake1 {
  left: 200px;
}

#flake3 {
  left: 200px;
}

.z1 {
  z-index: 2;
}

.z2 {
  z-index: -1;
}

.xs {
  width: 20px;
}

.sm {
  width: 30px;
}

.md {
  width: 40px;
}

/*.half-opacity {
  opacity: .5;
}

.three-opacity {
  opacity: .75;
}

.quarter-opacity {
  opacity: .25;
}

.faint {
  opacity: .1;
}*/

.lg {
  width: 50px;
}

.xl {
  width: 60px;
}
