$blue: #63A2BC;
$blueHover: #357EBD;
$white: #ffffff;
$green: #5FC073;
$lightGray: #d8d8d8;
$copyGray: #777777;
$borderGray: #e7e7e7;
$star: #f0ad4e;
$orange: #ef5113;
$linkBlue: #418ad6;
$pink: #C695C0;
$purple: #866C9D;
$yellow: #FFB700;
$red: #E6867F;
$brightRed: #FF001E;
