<meta name="viewport" content="width=device-width, initial-scale=1">
<% @page_title ||= "Brighter Beginnings Adopt-a-Family Program" %>
<% @meta_description ||= "Community members and local companies are invited to 'adopt' one or more families and purchase gifts for them for the holidays." %>
<title><%= full_title(yield(:title)) %></title>
<meta name="title" content="<%= @page_title %>" />
<meta name="description" content="<%= @meta_description %>" />